In [2]:
import os
import csv
import pandas as pd
import numpy as np

In [3]:

csvpath = os.path.join(dirname)
csvpath

NameError: name 'dirname' is not defined

In [8]:
dirname = "City of Atlanta unemp data"
df = []
for i in os.walk("City of Atlanta unemp data"):
    for j in i[2]:
        csvpath = os.path.join(dirname,j)
        print(csvpath)
        temp = pd.read_csv(csvpath)
        print (temp)
        df.append(temp)

City of Atlanta unemp data\unemp_data_09.csv
                                            Areaname  Area  Areatype  Stfips  \
0   City of Atlanta Local Workforce Development Area     3        15      13
1   City of Atlanta Local Workforce Development Area     3        15      13
2   City of Atlanta Local Workforce Development Area     3        15      13
3   City of Atlanta Local Workforce Development Area     3        15      13
4   City of Atlanta Local Workforce Development Area     3        15      13
5   City of Atlanta Local Workforce Development Area     3        15      13
6   City of Atlanta Local Workforce Development Area     3        15      13
7   City of Atlanta Local Workforce Development Area     3        15      13
8   City of Atlanta Local Workforce Development Area     3        15      13
9   City of Atlanta Local Workforce Development Area     3        15      13
10  City of Atlanta Local Workforce Development Area     3        15      13
11  City of Atlanta Local Workforce Development Area     3        15      13
12  City of Atlanta Local Workforce Development Area     3        15      13

       Maparea Stateabbrv  Periodyear  Periodtype  Period       Timeperiod  \
0   1315000003         GA        2009           1       0             2009
1   1315000003         GA        2009           3       1    January, 2009
2   1315000003         GA        2009           3       2   February, 2009
3   1315000003         GA        2009           3       3      March, 2009
4   1315000003         GA        2009           3       4      April, 2009
5   1315000003         GA        2009           3       5        May, 2009
6   1315000003         GA        2009           3       6       June, 2009
7   1315000003         GA        2009           3       7       July, 2009
8   1315000003         GA        2009           3       8     August, 2009
9   1315000003         GA        2009           3       9  September, 2009
10  1315000003         GA        2009           3      10    October, 2009
11  1315000003         GA        2009           3      11   November, 2009
12  1315000003         GA        2009           3      12   December, 2009

    ...  Emplab  Unemp  Unemprate  Clfprate  Emppopratio  Fullperiod  \
0   ...  196315  22934       10.5       NaN          NaN    20090100
1   ...  201003  20795        9.4       NaN          NaN    20090301
2   ...  200370  21385        9.6       NaN          NaN    20090302
3   ...  199406  20460        9.3       NaN          NaN    20090303
4   ...  198946  20228        9.2       NaN          NaN    20090304
5   ...  197668  21656        9.9       NaN          NaN    20090305
6   ...  195440  24813       11.3       NaN          NaN    20090306
7   ...  196639  25194       11.4       NaN          NaN    20090307
8   ...  194741  24704       11.3       NaN          NaN    20090308
9   ...  193366  24521       11.3       NaN          NaN    20090309
10  ...  192390  24071       11.1       NaN          NaN    20090310
11  ...  193563  23495       10.8       NaN          NaN    20090311
12  ...  192243  23880       11.0       NaN          NaN    20090312

    Sortperiod  Rank  Preliminary  prelim
0      1200900   175           No       0
1      3200901   554           No       0
2      3200902   933           No       0
3      3200903  1312           No       0
4      3200904  1691           No       0
5      3200905  2070           No       0
6      3200906  2449           No       0
7      3200907  2828           No       0
8      3200908  3207           No       0
9      3200909  3586           No       0
10     3200910  3965           No       0
11     3200911  4344           No       0
12     3200912  4723           No       0

[13 rows x 22 columns]
City of Atlanta unemp data\unemp_data_10.csv
                                            Areaname  Area  Areatype  Stfips  \
0   City of Atlanta Local Workforce Development Area     3        15      13
1   City of Atlanta Local Workforce Development Area     3        15      13
2   City of Atlanta Local Workforce Development Area     3        15      13
3   City of Atlanta Local Workforce Development Area     3        15      13
4   City of Atlanta Local Workforce Development Area     3        15      13
5   City of Atlanta Local Workforce Development Area     3        15      13
6   City of Atlanta Local Workforce Development Area     3        15      13
7   City of Atlanta Local Workforce Development Area     3        15      13
8   City of Atlanta Local Workforce Development Area     3        15      13
9   City of Atlanta Local Workforce Development Area     3        15      13
10  City of Atlanta Local Workforce Development Area     3        15      13
11  City of Atlanta Local Workforce Development Area     3        15      13
12  City of Atlanta Local Workforce Development Area     3        15      13

       Maparea Stateabbrv  Periodyear  Periodtype  Period       Timeperiod  \
0   1315000003         GA        2010           1       0             2010
1   1315000003         GA        2010           3       1    January, 2010
2   1315000003         GA        2010           3       2   February, 2010
3   1315000003         GA        2010           3       3      March, 2010
4   1315000003         GA        2010           3       4      April, 2010
5   1315000003         GA        2010           3       5        May, 2010
6   1315000003         GA        2010           3       6       June, 2010
7   1315000003         GA        2010           3       7       July, 2010
8   1315000003         GA        2010           3       8     August, 2010
9   1315000003         GA        2010           3       9  September, 2010
10  1315000003         GA        2010           3      10    October, 2010
11  1315000003         GA        2010           3      11   November, 2010
12  1315000003         GA        2010           3      12   December, 2010

    ...  Emplab  Unemp  Unemprate  Clfprate  Emppopratio  Fullperiod  \
0   ...  180664  23699       11.6       NaN          NaN    20100100
1   ...  182061  25102       12.1       NaN          NaN    20100301
2   ...  180057  23790       11.7       NaN          NaN    20100302
3   ...  180204  22893       11.3       NaN          NaN    20100303
4   ...  180800  22083       10.9       NaN          NaN    20100304
5   ...  180325  22846       11.2       NaN          NaN    20100305
6   ...  179653  24006       11.8       NaN          NaN    20100306
7   ...  180624  24372       11.9       NaN          NaN    20100307
8   ...  179785  24477       12.0       NaN          NaN    20100308
9   ...  180791  23645       11.6       NaN          NaN    20100309
10  ...  180488  23267       11.4       NaN          NaN    20100310
11  ...  181175  24087       11.7       NaN          NaN    20100311
12  ...  181999  23824       11.6       NaN          NaN    20100312

    Sortperiod  Rank  Preliminary  prelim
0      1201000   175           No       0
1      3201001   555           No       0
2      3201002   935           No       0
3      3201003  1315           No       0
4      3201004  1695           No       0
5      3201005  2075           No       0
6      3201006  2455           No       0
7      3201007  2835           No       0
8      3201008  3215           No       0
9      3201009  3595           No       0
10     3201010  3975           No       0
11     3201011  4355           No       0
12     3201012  4735           No       0

[13 rows x 22 columns]
City of Atlanta unemp data\unemp_data_11.csv
                                            Areaname  Area  Areatype  Stfips  \
0   City of Atlanta Local Workforce Development Area     3        15      13
1   City of Atlanta Local Workforce Development Area     3        15      13
2   City of Atlanta Local Workforce Development Area     3        15      13
3   City of Atlanta Local Workforce Development Area     3        15      13
4   City of Atlanta Local Workforce Development Area     3        15      13
5   City of Atlanta Local Workforce Development Area     3        15      13
6   City of Atlanta Local Workforce Development Area     3        15      13
7   City of Atlanta Local Workforce Development Area     3        15      13
8   City of Atlanta Local Workforce Development Area     3        15      13
9   City of Atlanta Local Workforce Development Area     3        15      13
10  City of Atlanta Local Workforce Development Area     3        15      13
11  City of Atlanta Local Workforce Development Area     3        15      13
12  City of Atlanta Local Workforce Development Area     3        15      13

       Maparea Stateabbrv  Periodyear  Periodtype  Period       Timeperiod  \
0   1315000003         GA        2011           1       0             2011
1   1315000003         GA        2011           3       1    January, 2011
2   1315000003         GA        2011           3       2   February, 2011
3   1315000003         GA        2011           3       3      March, 2011
4   1315000003         GA        2011           3       4      April, 2011
5   1315000003         GA        2011           3       5        May, 2011
6   1315000003         GA        2011           3       6       June, 2011
7   1315000003         GA        2011           3       7       July, 2011
8   1315000003         GA        2011           3       8     August, 2011
9   1315000003         GA        2011           3       9  September, 2011
10  1315000003         GA        2011           3      10    October, 2011
11  1315000003         GA        2011           3      11   November, 2011
12  1315000003         GA        2011           3      12   December, 2011

    ...  Emplab  Unemp  Unemprate  Clfprate  Emppopratio  Fullperiod  \
0   ...  185375  23030       11.1       NaN          NaN    20110100
1   ...  182603  24244       11.7       NaN          NaN    20110301
2   ...  183359  23072       11.2       NaN          NaN    20110302
3   ...  184769  22615       10.9       NaN          NaN    20110303
4   ...  184072  21825       10.6       NaN          NaN    20110304
5   ...  185086  22654       10.9       NaN          NaN    20110305
6   ...  183868  24403       11.7       NaN          NaN    20110306
7   ...  185330  24363       11.6       NaN          NaN    20110307
8   ...  184572  23922       11.5       NaN          NaN    20110308
9   ...  186330  23290       11.1       NaN          NaN    20110309
10  ...  187035  22519       10.7       NaN          NaN    20110310
11  ...  188484  21544       10.3       NaN          NaN    20110311
12  ...  188991  21909       10.4       NaN          NaN    20110312

    Sortperiod  Rank  Preliminary  prelim
0      1201100   175           No       0
1      3201101   555           No       0
2      3201102   935           No       0
3      3201103  1315           No       0
4      3201104  1695           No       0
5      3201105  2075           No       0
6      3201106  2455           No       0
7      3201107  2835           No       0
8      3201108  3215           No       0
9      3201109  3595           No       0
10     3201110  3975           No       0
11     3201111  4355           No       0
12     3201112  4735           No       0

[13 rows x 22 columns]
City of Atlanta unemp data\unemp_data_12.csv
                                            Areaname  Area  Areatype  Stfips  \
0   City of Atlanta Local Workforce Development Area     3        15      13
1   City of Atlanta Local Workforce Development Area     3        15      13
2   City of Atlanta Local Workforce Development Area     3        15      13
3   City of Atlanta Local Workforce Development Area     3        15      13
4   City of Atlanta Local Workforce Development Area     3        15      13
5   City of Atlanta Local Workforce Development Area     3        15      13
6   City of Atlanta Local Workforce Development Area     3        15      13
7   City of Atlanta Local Workforce Development Area     3        15      13
8   City of Atlanta Local Workforce Development Area     3        15      13
9   City of Atlanta Local Workforce Development Area     3        15      13
10  City of Atlanta Local Workforce Development Area     3        15      13
11  City of Atlanta Local Workforce Development Area     3        15      13
12  City of Atlanta Local Workforce Development Area     3        15      13

       Maparea Stateabbrv  Periodyear  Periodtype  Period       Timeperiod  \
0   1315000003         GA        2012           1       0             2012
1   1315000003         GA        2012           3       1    January, 2012
2   1315000003         GA        2012           3       2   February, 2012
3   1315000003         GA        2012           3       3      March, 2012
4   1315000003         GA        2012           3       4      April, 2012
5   1315000003         GA        2012           3       5        May, 2012
6   1315000003         GA        2012           3       6       June, 2012
7   1315000003         GA        2012           3       7       July, 2012
8   1315000003         GA        2012           3       8     August, 2012
9   1315000003         GA        2012           3       9  September, 2012
10  1315000003         GA        2012           3      10    October, 2012
11  1315000003         GA        2012           3      11   November, 2012
12  1315000003         GA        2012           3      12   December, 2012

    ...  Emplab  Unemp  Unemprate  Clfprate  Emppopratio  Fullperiod  \
0   ...  191938  21058        9.9       NaN          NaN    20120100
1   ...  189698  22484       10.6       NaN          NaN    20120301
2   ...  190262  21953       10.3       NaN          NaN    20120302
3   ...  191130  21114        9.9       NaN          NaN    20120303
4   ...  190718  20169        9.6       NaN          NaN    20120304
5   ...  191511  20959        9.9       NaN          NaN    20120305
6   ...  191266  22358       10.5       NaN          NaN    20120306
7   ...  192311  22408       10.4       NaN          NaN    20120307
8   ...  190960  21452       10.1       NaN          NaN    20120308
9   ...  193308  19956        9.4       NaN          NaN    20120309
10  ...  193767  20127        9.4       NaN          NaN    20120310
11  ...  194185  19395        9.1       NaN          NaN    20120311
12  ...  194143  20317        9.5       NaN          NaN    20120312

    Sortperiod  Rank  Preliminary  prelim
0      1201200   175           No       0
1      3201201   555           No       0
2      3201202   935           No       0
3      3201203  1315           No       0
4      3201204  1695           No       0
5      3201205  2075           No       0
6      3201206  2455           No       0
7      3201207  2835           No       0
8      3201208  3215           No       0
9      3201209  3595           No       0
10     3201210  3975           No       0
11     3201211  4355           No       0
12     3201212  4735           No       0

[13 rows x 22 columns]
City of Atlanta unemp data\unemp_data_13.csv
                                            Areaname  Area  Areatype  Stfips  \
0   City of Atlanta Local Workforce Development Area     3        15      13
1   City of Atlanta Local Workforce Development Area     3        15      13
2   City of Atlanta Local Workforce Development Area     3        15      13
3   City of Atlanta Local Workforce Development Area     3        15      13
4   City of Atlanta Local Workforce Development Area     3        15      13
5   City of Atlanta Local Workforce Development Area     3        15      13
6   City of Atlanta Local Workforce Development Area     3        15      13
7   City of Atlanta Local Workforce Development Area     3        15      13
8   City of Atlanta Local Workforce Development Area     3        15      13
9   City of Atlanta Local Workforce Development Area     3        15      13
10  City of Atlanta Local Workforce Development Area     3        15      13
11  City of Atlanta Local Workforce Development Area     3        15      13
12  City of Atlanta Local Workforce Development Area     3        15      13

       Maparea Stateabbrv  Periodyear  Periodtype  Period       Timeperiod  \
0   1315000003         GA        2013           1       0             2013
1   1315000003         GA        2013           3       1    January, 2013
2   1315000003         GA        2013           3       2   February, 2013
3   1315000003         GA        2013           3       3      March, 2013
4   1315000003         GA        2013           3       4      April, 2013
5   1315000003         GA        2013           3       5        May, 2013
6   1315000003         GA        2013           3       6       June, 2013
7   1315000003         GA        2013           3       7       July, 2013
8   1315000003         GA        2013           3       8     August, 2013
9   1315000003         GA        2013           3       9  September, 2013
10  1315000003         GA        2013           3      10    October, 2013
11  1315000003         GA        2013           3      11   November, 2013
12  1315000003         GA        2013           3      12   December, 2013

    ...  Emplab  Unemp  Unemprate  Clfprate  Emppopratio  Fullperiod  \
0   ...  193635  18999        8.9       NaN          NaN    20130100
1   ...  192223  21461       10.0       NaN          NaN    20130301
2   ...  192185  19907        9.4       NaN          NaN    20130302
3   ...  192861  18981        9.0       NaN          NaN    20130303
4   ...  193386  18266        8.6       NaN          NaN    20130304
5   ...  193749  18933        8.9       NaN          NaN    20130305
6   ...  193200  20658        9.7       NaN          NaN    20130306
7   ...  194078  19897        9.3       NaN          NaN    20130307
8   ...  192809  19301        9.1       NaN          NaN    20130308
9   ...  194564  18260        8.6       NaN          NaN    20130309
10  ...  193645  18269        8.6       NaN          NaN    20130310
11  ...  195350  17169        8.1       NaN          NaN    20130311
12  ...  195571  16890        7.9       NaN          NaN    20130312

    Sortperiod  Rank  Preliminary  prelim
0      1201300   175           No       0
1      3201301   555           No       0
2      3201302   935           No       0
3      3201303  1315           No       0
4      3201304  1695           No       0
5      3201305  2075           No       0
6      3201306  2455           No       0
7      3201307  2835           No       0
8      3201308  3215           No       0
9      3201309  3595           No       0
10     3201310  3975           No       0
11     3201311  4355           No       0
12     3201312  4735           No       0

[13 rows x 22 columns]
City of Atlanta unemp data\unemp_data_14.csv

                                            Areaname  Area  Areatype  Stfips  \
0   City of Atlanta Local Workforce Development Area     3        15      13
1   City of Atlanta Local Workforce Development Area     3        15      13
2   City of Atlanta Local Workforce Development Area     3        15      13
3   City of Atlanta Local Workforce Development Area     3        15      13
4   City of Atlanta Local Workforce Development Area     3        15      13
5   City of Atlanta Local Workforce Development Area     3        15      13
6   City of Atlanta Local Workforce Development Area     3        15      13
7   City of Atlanta Local Workforce Development Area     3        15      13
8   City of Atlanta Local Workforce Development Area     3        15      13
9   City of Atlanta Local Workforce Development Area     3        15      13
10  City of Atlanta Local Workforce Development Area     3        15      13
11  City of Atlanta Local Workforce Development Area     3        15      13
12  City of Atlanta Local Workforce Development Area     3        15      13

       Maparea Stateabbrv  Periodyear  Periodtype  Period       Timeperiod  \
0   1315000003         GA        2014           1       0             2014
1   1315000003         GA        2014           3       1    January, 2014
2   1315000003         GA        2014           3       2   February, 2014
3   1315000003         GA        2014           3       3      March, 2014
4   1315000003         GA        2014           3       4      April, 2014
5   1315000003         GA        2014           3       5        May, 2014
6   1315000003         GA        2014           3       6       June, 2014
7   1315000003         GA        2014           3       7       July, 2014
8   1315000003         GA        2014           3       8     August, 2014
9   1315000003         GA        2014           3       9  September, 2014
10  1315000003         GA        2014           3      10    October, 2014
11  1315000003         GA        2014           3      11   November, 2014
12  1315000003         GA        2014           3      12   December, 2014

    ...  Emplab  Unemp  Unemprate  Clfprate  Emppopratio  Fullperiod  \
0   ...  197001  16793        7.9       NaN          NaN    20140100
1   ...  195029  17586        8.3       NaN          NaN    20140301
2   ...  195600  17574        8.2       NaN          NaN    20140302
3   ...  196939  17292        8.1       NaN          NaN    20140303
4   ...  196567  15768        7.4       NaN          NaN    20140304
5   ...  196898  16818        7.9       NaN          NaN    20140305
6   ...  197032  17937        8.3       NaN          NaN    20140306
7   ...  197524  18249        8.5       NaN          NaN    20140307
8   ...  195704  17579        8.2       NaN          NaN    20140308
9   ...  197037  16039        7.5       NaN          NaN    20140309
10  ...  198107  15985        7.5       NaN          NaN    20140310
11  ...  198831  15534        7.2       NaN          NaN    20140311
12  ...  198743  15160        7.1       NaN          NaN    20140312

    Sortperiod  Rank  Preliminary  prelim
0      1201400   175           No       0
1      3201401   555           No       0
2      3201402   935           No       0
3      3201403  1315           No       0
4      3201404  1695           No       0
5      3201405  2075           No       0
6      3201406  2455           No       0
7      3201407  2835           No       0
8      3201408  3215           No       0
9      3201409  3595           No       0
10     3201410  3975           No       0
11     3201411  4355           No       0
12     3201412  4733           No       0

[13 rows x 22 columns]
City of Atlanta unemp data\unemp_data_15.csv
                                            Areaname  Area  Areatype  Stfips  \
0   City of Atlanta Local Workforce Development Area     3        15      13
1   City of Atlanta Local Workforce Development Area     3        15      13
2   City of Atlanta Local Workforce Development Area     3        15      13
3   City of Atlanta Local Workforce Development Area     3        15      13
4   City of Atlanta Local Workforce Development Area     3        15      13
5   City of Atlanta Local Workforce Development Area     3        15      13
6   City of Atlanta Local Workforce Development Area     3        15      13
7   City of Atlanta Local Workforce Development Area     3        15      13
8   City of Atlanta Local Workforce Development Area     3        15      13
9   City of Atlanta Local Workforce Development Area     3        15      13
10  City of Atlanta Local Workforce Development Area     3        15      13
11  City of Atlanta Local Workforce Development Area     3        15      13
12  City of Atlanta Local Workforce Development Area     3        15      13

       Maparea Stateabbrv  Periodyear  Periodtype  Period       Timeperiod  \
0   1315000003         GA        2015           1       0             2015
1   1315000003         GA        2015           3       1    January, 2015
2   1315000003         GA        2015           3       2   February, 2015
3   1315000003         GA        2015           3       3      March, 2015
4   1315000003         GA        2015           3       4      April, 2015
5   1315000003         GA        2015           3       5        May, 2015
6   1315000003         GA        2015           3       6       June, 2015
7   1315000003         GA        2015           3       7       July, 2015
8   1315000003         GA        2015           3       8     August, 2015
9   1315000003         GA        2015           3       9  September, 2015
10  1315000003         GA        2015           3      10    October, 2015
11  1315000003         GA        2015           3      11   November, 2015
12  1315000003         GA        2015           3      12   December, 2015

    ...  Emplab  Unemp  Unemprate  Clfprate  Emppopratio  Fullperiod  \
0   ...  199579  14314        6.7       NaN          NaN    20150100
1   ...  198143  16224        7.6       NaN          NaN    20150301
2   ...  198792  15557        7.3       NaN          NaN    20150302
3   ...  199275  14635        6.8       NaN          NaN    20150303
4   ...  199479  13646        6.4       NaN          NaN    20150304
5   ...  200099  14570        6.8       NaN          NaN    20150305
6   ...  199392  15090        7.0       NaN          NaN    20150306
7   ...  200246  14842        6.9       NaN          NaN    20150307
8   ...  198821  14164        6.7       NaN          NaN    20150308
9   ...  199261  13352        6.3       NaN          NaN    20150309
10  ...  200005  13517        6.3       NaN          NaN    20150310
11  ...  200469  13001        6.1       NaN          NaN    20150311
12  ...  200961  13165        6.1       NaN          NaN    20150312

    Sortperiod  Rank  Preliminary  prelim
0      1201500   175           No       0
1      3201501   555           No       0
2      3201502   935           No       0
3      3201503  1315           No       0
4      3201504  1695           No       0
5      3201505  2075           No       0
6      3201506  2455           No       0
7      3201507  2835           No       0
8      3201508  3215           No       0
9      3201509  3595           No       0
10     3201510  3975           No       0
11     3201511  4355           No       0
12     3201512  4735           No       0

[13 rows x 22 columns]
City of Atlanta unemp data\unemp_data_16.csv
                                            Areaname  Area  Areatype  Stfips  \
0   City of Atlanta Local Workforce Development Area     3        15      13
1   City of Atlanta Local Workforce Development Area     3        15      13
2   City of Atlanta Local Workforce Development Area     3        15      13
3   City of Atlanta Local Workforce Development Area     3        15      13
4   City of Atlanta Local Workforce Development Area     3        15      13
5   City of Atlanta Local Workforce Development Area     3        15      13
6   City of Atlanta Local Workforce Development Area     3        15      13
7   City of Atlanta Local Workforce Development Area     3        15      13
8   City of Atlanta Local Workforce Development Area     3        15      13
9   City of Atlanta Local Workforce Development Area     3        15      13
10  City of Atlanta Local Workforce Development Area     3        15      13
11  City of Atlanta Local Workforce Development Area     3        15      13
12  City of Atlanta Local Workforce Development Area     3        15      13

       Maparea Stateabbrv  Periodyear  Periodtype  Period       Timeperiod  \
0   1315000003         GA        2016           1       0             2016
1   1315000003         GA        2016           3       1    January, 2016
2   1315000003         GA        2016           3       2   February, 2016
3   1315000003         GA        2016           3       3      March, 2016
4   1315000003         GA        2016           3       4      April, 2016
5   1315000003         GA        2016           3       5        May, 2016
6   1315000003         GA        2016           3       6       June, 2016
7   1315000003         GA        2016           3       7       July, 2016
8   1315000003         GA        2016           3       8     August, 2016
9   1315000003         GA        2016           3       9  September, 2016
10  1315000003         GA        2016           3      10    October, 2016
11  1315000003         GA        2016           3      11   November, 2016
12  1315000003         GA        2016           3      12   December, 2016

    ...  Emplab  Unemp  Unemprate  Clfprate  Emppopratio  Fullperiod  \
0   ...  210690  13381        6.0       NaN          NaN    20160100
1   ...  201824  13723        6.4       NaN          NaN    20160301
2   ...  203488  13611        6.3       NaN          NaN    20160302
3   ...  205556  13256        6.1       NaN          NaN    20160303
4   ...  206477  12570        5.7       NaN          NaN    20160304
5   ...  208588  12482        5.6       NaN          NaN    20160305
6   ...  209915  14046        6.3       NaN          NaN    20160306
7   ...  212933  14127        6.2       NaN          NaN    20160307
8   ...  212659  13996        6.2       NaN          NaN    20160308
9   ...  214656  13365        5.9       NaN          NaN    20160309
10  ...  217311  13403        5.8       NaN          NaN    20160310
11  ...  217347  12662        5.5       NaN          NaN    20160311
12  ...  217522  13330        5.8       NaN          NaN    20160312

    Sortperiod  Rank  Preliminary  prelim
0      1201600   175           No       0
1      3201601   555           No       0
2      3201602   935           No       0
3      3201603  1315           No       0
4      3201604  1695           No       0
5      3201605  2075           No       0
6      3201606  2455           No       0
7      3201607  2835           No       0
8      3201608  3215           No       0
9      3201609  3595           No       0
10     3201610  3975           No       0
11     3201611  4355           No       0
12     3201612  4735           No       0

[13 rows x 22 columns]
City of Atlanta unemp data\unemp_data_17.csv
                                            Areaname  Area  Areatype  Stfips  \
0   City of Atlanta Local Workforce Development Area     3        15      13
1   City of Atlanta Local Workforce Development Area     3        15      13
2   City of Atlanta Local Workforce Development Area     3        15      13
3   City of Atlanta Local Workforce Development Area     3        15      13
4   City of Atlanta Local Workforce Development Area     3        15      13
5   City of Atlanta Local Workforce Development Area     3        15      13
6   City of Atlanta Local Workforce Development Area     3        15      13
7   City of Atlanta Local Workforce Development Area     3        15      13
8   City of Atlanta Local Workforce Development Area     3        15      13
9   City of Atlanta Local Workforce Development Area     3        15      13
10  City of Atlanta Local Workforce Development Area     3        15      13
11  City of Atlanta Local Workforce Development Area     3        15      13
12  City of Atlanta Local Workforce Development Area     3        15      13

       Maparea Stateabbrv  Periodyear  Periodtype  Period       Timeperiod  \
0   1315000003         GA        2017           1       0             2017
1   1315000003         GA        2017           3       1    January, 2017
2   1315000003         GA        2017           3       2   February, 2017
3   1315000003         GA        2017           3       3      March, 2017
4   1315000003         GA        2017           3       4      April, 2017
5   1315000003         GA        2017           3       5        May, 2017
6   1315000003         GA        2017           3       6       June, 2017
7   1315000003         GA        2017           3       7       July, 2017
8   1315000003         GA        2017           3       8     August, 2017
9   1315000003         GA        2017           3       9  September, 2017
10  1315000003         GA        2017           3      10    October, 2017
11  1315000003         GA        2017           3      11   November, 2017
12  1315000003         GA        2017           3      12   December, 2017

    ...  Emplab  Unemp  Unemprate  Clfprate  Emppopratio  Fullperiod  \
0   ...  223437  12523        5.3       NaN          NaN    20170100
1   ...  219243  14513        6.2       NaN          NaN    20170301
2   ...  221085  13630        5.8       NaN          NaN    20170302
3   ...  222444  12759        5.4       NaN          NaN    20170303
4   ...  222603  11953        5.1       NaN          NaN    20170304
5   ...  222828  12399        5.3       NaN          NaN    20170305
6   ...  222789  13495        5.7       NaN          NaN    20170306
7   ...  224280  13480        5.7       NaN          NaN    20170307
8   ...  223076  13060        5.5       NaN          NaN    20170308
9   ...  226564  11543        4.8       NaN          NaN    20170309
10  ...  225153  11252        4.8       NaN          NaN    20170310
11  ...  225697  10998        4.6       NaN          NaN    20170311
12  ...  225486  11194        4.7       NaN          NaN    20170312

    Sortperiod  Rank  Preliminary  prelim
0      1201700   175           No       0
1      3201701   555           No       0
2      3201702   935           No       0
3      3201703  1315           No       0
4      3201704  1695           No       0
5      3201705  2075           No       0
6      3201706  2455           No       0
7      3201707  2835           No       0
8      3201708  3215           No       0
9      3201709  3595           No       0
10     3201710  3975           No       0
11     3201711  4355           No       0
12     3201712  4735           No       0

[13 rows x 22 columns]
City of Atlanta unemp data\unemp_data_18.csv
                                            Areaname  Area  Areatype  Stfips  \
0   City of Atlanta Local Workforce Development Area     3        15      13
1   City of Atlanta Local Workforce Development Area     3        15      13
2   City of Atlanta Local Workforce Development Area     3        15      13
3   City of Atlanta Local Workforce Development Area     3        15      13
4   City of Atlanta Local Workforce Development Area     3        15      13
5   City of Atlanta Local Workforce Development Area     3        15      13
6   City of Atlanta Local Workforce Development Area     3        15      13
7   City of Atlanta Local Workforce Development Area     3        15      13
8   City of Atlanta Local Workforce Development Area     3        15      13
9   City of Atlanta Local Workforce Development Area     3        15      13
10  City of Atlanta Local Workforce Development Area     3        15      13
11  City of Atlanta Local Workforce Development Area     3        15      13
12  City of Atlanta Local Workforce Development Area     3        15      13

       Maparea Stateabbrv  Periodyear  Periodtype  Period       Timeperiod  \
0   1315000003         GA        2018           1       0             2018
1   1315000003         GA        2018           3       1    January, 2018
2   1315000003         GA        2018           3       2   February, 2018
3   1315000003         GA        2018           3       3      March, 2018
4   1315000003         GA        2018           3       4      April, 2018
5   1315000003         GA        2018           3       5        May, 2018
6   1315000003         GA        2018           3       6       June, 2018
7   1315000003         GA        2018           3       7       July, 2018
8   1315000003         GA        2018           3       8     August, 2018
9   1315000003         GA        2018           3       9  September, 2018
10  1315000003         GA        2018           3      10    October, 2018
11  1315000003         GA        2018           3      11   November, 2018
12  1315000003         GA        2018           3      12   December, 2018

    ...  Emplab  Unemp  Unemprate  Clfprate  Emppopratio  Fullperiod  \
0   ...  226567  10543        4.4       NaN          NaN    20180100
1   ...  224410  12003        5.1       NaN          NaN    20180301
2   ...  226647  11851        5.0       NaN          NaN    20180302
3   ...  227166  11082        4.7       NaN          NaN    20180303
4   ...  226472  10033        4.2       NaN          NaN    20180304
5   ...  226810  10020        4.2       NaN          NaN    20180305
6   ...  226417  11505        4.8       NaN          NaN    20180306
7   ...  227615  10935        4.6       NaN          NaN    20180307
8   ...  224679  10494        4.5       NaN          NaN    20180308
9   ...  226253   9420        4.0       NaN          NaN    20180309
10  ...  227204   9777        4.1       NaN          NaN    20180310
11  ...  227403   9197        3.9       NaN          NaN    20180311
12  ...  227728  10199        4.3       NaN          NaN    20180312

    Sortperiod  Rank  Preliminary  prelim
0      1201800   175           No       0
1      3201801   555           No       0
2      3201802   935           No       0
3      3201803  1315           No       0
4      3201804  1695           No       0
5      3201805  2075           No       0
6      3201806  2455           No       0
7      3201807  2835           No       0
8      3201808  3215           No       0
9      3201809  3595           No       0
10     3201810  3975           No       0
11     3201811  4355           No       0
12     3201812  4735           No       0

[13 rows x 22 columns]
City of Atlanta unemp data\unemp_data_19.csv
                                            Areaname  Area  Areatype  Stfips  \
0   City of Atlanta Local Workforce Development Area     3        15      13
1   City of Atlanta Local Workforce Development Area     3        15      13
2   City of Atlanta Local Workforce Development Area     3        15      13
3   City of Atlanta Local Workforce Development Area     3        15      13
4   City of Atlanta Local Workforce Development Area     3        15      13
5   City of Atlanta Local Workforce Development Area     3        15      13
6   City of Atlanta Local Workforce Development Area     3        15      13
7   City of Atlanta Local Workforce Development Area     3        15      13
8   City of Atlanta Local Workforce Development Area     3        15      13
9   City of Atlanta Local Workforce Development Area     3        15      13
10  City of Atlanta Local Workforce Development Area     3        15      13
11  City of Atlanta Local Workforce Development Area     3        15      13
12  City of Atlanta Local Workforce Development Area     3        15      13

       Maparea Stateabbrv  Periodyear  Periodtype  Period       Timeperiod  \

In [9]:
len(df)

13

In [10]:
new_df = pd.concat(df)
new_df

,Areaname,Area,Areatype,Stfips,Maparea,Stateabbrv,Periodyear,Periodtype,Period,Timeperiod,...,Emplab,Unemp,Unemprate,Clfprate,Emppopratio,Fullperiod,Sortperiod,Rank,Preliminary,prelim
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2009,1,0,2009,...,196315,22934,10.5,NaN,NaN,20090100,1200900,175,No,0
1,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2009,3,1,"January, 2009",...,201003,20795,9.4,NaN,NaN,20090301,3200901,554,No,0
2,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2009,3,2,"February, 2009",...,200370,21385,9.6,NaN,NaN,20090302,3200902,933,No,0
3,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2009,3,3,"March, 2009",...,199406,20460,9.3,NaN,NaN,20090303,3200903,1312,No,0
4,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2009,3,4,"April, 2009",...,198946,20228,9.2,NaN,NaN,20090304,3200904,1691,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2021,3,4,"April, 2021",...,230403,13159,5.4,NaN,NaN,20210304,3202104,1317,No,0
4,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2021,3,5,"May, 2021",...,229253,13339,5.5,NaN,NaN,20210305,3202105,1697,No,0
5,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2021,3,6,"June, 2021",...,229971,15177,6.2,NaN,NaN,20210306,3202106,2077,No,0
6,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2021,3,7,"July, 2021",...,232932,10697,4.4,NaN,NaN,20210307,3202107,2457,No,0
7,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2021,3,8,"August, 2021",...,231362,10215,4.2,NaN,NaN,20210308,3202108,2837,Yes,1

In [19]:
monthlyDF= new_df.loc[new_df["Timeperiod"].str.contains(",")]
monthlyDF

,Areaname,Area,Areatype,Stfips,Maparea,Stateabbrv,Periodyear,Periodtype,Period,Timeperiod,...,Emplab,Unemp,Unemprate,Clfprate,Emppopratio,Fullperiod,Sortperiod,Rank,Preliminary,prelim
1,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2009,3,1,"January, 2009",...,201003,20795,9.4,NaN,NaN,20090301,3200901,554,No,0
2,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2009,3,2,"February, 2009",...,200370,21385,9.6,NaN,NaN,20090302,3200902,933,No,0
3,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2009,3,3,"March, 2009",...,199406,20460,9.3,NaN,NaN,20090303,3200903,1312,No,0
4,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2009,3,4,"April, 2009",...,198946,20228,9.2,NaN,NaN,20090304,3200904,1691,No,0
5,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2009,3,5,"May, 2009",...,197668,21656,9.9,NaN,NaN,20090305,3200905,2070,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2021,3,4,"April, 2021",...,230403,13159,5.4,NaN,NaN,20210304,3202104,1317,No,0
4,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2021,3,5,"May, 2021",...,229253,13339,5.5,NaN,NaN,20210305,3202105,1697,No,0
5,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2021,3,6,"June, 2021",...,229971,15177,6.2,NaN,NaN,20210306,3202106,2077,No,0
6,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2021,3,7,"July, 2021",...,232932,10697,4.4,NaN,NaN,20210307,3202107,2457,No,0
7,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2021,3,8,"August, 2021",...,231362,10215,4.2,NaN,NaN,20210308,3202108,2837,Yes,1

In [20]:
meanDF=new_df.loc[~(new_df["Timeperiod"].str.contains(","))]
meanDF

,Areaname,Area,Areatype,Stfips,Maparea,Stateabbrv,Periodyear,Periodtype,Period,Timeperiod,...,Emplab,Unemp,Unemprate,Clfprate,Emppopratio,Fullperiod,Sortperiod,Rank,Preliminary,prelim
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2009,1,0,2009,...,196315,22934,10.5,NaN,NaN,20090100,1200900,175,No,0
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2010,1,0,2010,...,180664,23699,11.6,NaN,NaN,20100100,1201000,175,No,0
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2011,1,0,2011,...,185375,23030,11.1,NaN,NaN,20110100,1201100,175,No,0
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2012,1,0,2012,...,191938,21058,9.9,NaN,NaN,20120100,1201200,175,No,0
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2013,1,0,2013,...,193635,18999,8.9,NaN,NaN,20130100,1201300,175,No,0
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2014,1,0,2014,...,197001,16793,7.9,NaN,NaN,20140100,1201400,175,No,0
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2015,1,0,2015,...,199579,14314,6.7,NaN,NaN,20150100,1201500,175,No,0
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2016,1,0,2016,...,210690,13381,6.0,NaN,NaN,20160100,1201600,175,No,0
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2017,1,0,2017,...,223437,12523,5.3,NaN,NaN,20170100,1201700,175,No,0
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2018,1,0,2018,...,226567,10543,4.4,NaN,NaN,20180100,1201800,175,No,0
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2019,1,0,2019,...,230886,9338,3.9,NaN,NaN,20190100,1201900,175,No,0
0,City of Atlanta Local Workforce Development Area,3,15,13,1315000003,GA,2020,1,0,2020,...,219073,20888,8.7,NaN,NaN,20200100,1202000,175,No,0

In [21]:
meanDF.columns

Index(['Areaname', 'Area', 'Areatype', 'Stfips', 'Maparea', 'Stateabbrv',
       'Periodyear', 'Periodtype', 'Period', 'Timeperiod', 'Adjusted',
       'Laborforce', 'Emplab', 'Unemp', 'Unemprate', 'Clfprate', 'Emppopratio',
       'Fullperiod', 'Sortperiod', 'Rank', 'Preliminary', 'prelim'],
      dtype='object')

In [24]:
cols = ["Periodyear","Timeperiod","Unemp","Unemprate"]

In [31]:
newMeanDF=meanDF[cols].set_index("Timeperiod")
newMeanDF

            Periodyear  Unemp  Unemprate
Timeperiod
2009              2009  22934       10.5
2010              2010  23699       11.6
2011              2011  23030       11.1
2012              2012  21058        9.9
2013              2013  18999        8.9
2014              2014  16793        7.9
2015              2015  14314        6.7
2016              2016  13381        6.0
2017              2017  12523        5.3
2018              2018  10543        4.4
2019              2019   9338        3.9
2020              2020  20888        8.7

In [29]:
newMonthlyDF= monthlyDF[cols].set_index("Timeperiod")
newMonthlyDF

                Periodyear  Unemp  Unemprate
Timeperiod
January, 2009         2009  20795        9.4
February, 2009        2009  21385        9.6
March, 2009           2009  20460        9.3
April, 2009           2009  20228        9.2
May, 2009             2009  21656        9.9
...                    ...    ...        ...
April, 2021           2021  13159        5.4
May, 2021             2021  13339        5.5
June, 2021            2021  15177        6.2
July, 2021            2021  10697        4.4
August, 2021          2021  10215        4.2

[152 rows x 3 columns]